@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:#f7e17e;
    /*  */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*  */
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    /* distancia entre la barra y el centro de la pantalla  */
    

    
    
}

form{
  /* background-color: aqua; */
  background-color: #202020;
  width: 100vw; /* Hace que el formulario ocupe todo el ancho de la pantalla */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
  padding: 2rem;
  color: white;
  border-radius: .1rem;
}

form label {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  padding: 0.8rem;
}
form div{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.4rem;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: .5rem;
  width: 100%;
  
}
form input{
  height: 3rem;
  width: 45rem;
}

button {
  background-color: #ff6700;
  border: none;
  padding: 0.8rem 1.2rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #ff8533;
}

.pokemon-grid{
  
  display: flex;
  
  justify-content: center;
  align-items: center;
  
}

.pokemon-card {
  
    margin: 10px;
    border: 0.125 solid #ccc;
    border-radius: 2.4rem;
    padding: 1.25rem;
    width: 55rem;
    
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    
}
.pokemon-card h1{
  /* background-color: aqua; */
  font-size: 5rem;
}

.pokemon-card img {
  flex: 1;
  /* max-width: 18rem; 
  max-height: 15.625rem;  */
  width: 25rem; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
  display: flex;
  margin: 0 auto;
    
}
.pokemon-details {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 1.8rem;
  

}
.pokemon-columns{
  flex: 1;
  /* background-color: #f7e17e; */
}
.pokemon-sprites h2{
font-size: 2rem;
}
.sprites-container{
  /* background-color: #ff6700; */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sprite-column img {
  width: 25rem; /* Ajusta el tamaño de los sprites aquí */
  height: auto;

}
#pokemon-grid2{
  /* background-color: #ff6700; */
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 100px;
  margin: 20px; 
}
.minipokemon-image img {
  width: 100px;
  height: 100px;
}
 
/* #minipokemon-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 20px;
  margin: 20px; 
}  */

 .minipokemon-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
}
 .minipokemon-card:hover {
  transform: scale(1.05);
}
.minipokemon-Name h2 { 
  font-size: 1.5em;
  color: #666;
}

.minipokemon-Name h3 {
  font-size: 1.2em;
  margin: 5px 0;
  color: #333;
}


.type-grass {
  background-color: #78C850;
}

.type-fire {
  background-color: #F08030;
}

.type-water {
  background-color: #6890F0;
}

.type-poison{
  background-color: rgb(100, 1, 100);
  color: #fff;
}

.type-flying{
  background-color: rgb(88, 208, 255);
}

.type-bug{
  background-color: green;
  color: #fff;
}

.type-normal{
  background-color: grey;
  color: #fff;
}

.type-electric{
  background-color: yellow;
  
}

.type-ground{
  background-color: brown;
  color: #fff;
}

.type-fairy{
  background-color: pink;
  
}

.type-fighting{
  background-color: burlywood;
  
}

.type-psychic{
  background-color: palevioletred;
  color: #fff;
}

.type-rock{
  background-color: rgb(58, 58, 58);
  color: #fff;
}
.type-ice{
  background-color: blue;
  color: #fff;
}

.type-ghost{
  background-color: rgb(19, 4, 19);
  color: #fff;
}

.type-dragon{
  background-color: rgb(252, 252, 153);
  
}


/* .pokemon-sprites{
background-color: #ff6700;
} */
/* .pokemon-grid {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 

  gap: 1.25rem;
  padding: 1.25rem;
  justify-content: center;
} */ 

/* .pokemon-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  width: 180px;
  text-align: center;
  transition: transform 0.3s ease;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 120px;
  height: 120px;
}

.pokemon-card h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
}

.pokemon-card .pokemon-number {
  color: gray;
  font-size: 12px;
} */

/* .pokemon-card .pokemon-type {
  display: inline-block;
  background-color: lightgray;
  border-radius: 12px;
  padding: 5px;
  margin-top: 5px;
  color: white;
} */



/* 
form input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;

  padding: 0.8rem;
  font-size: 1rem;
  border-radius: .5rem;
  width: 50%;
  max-width: 600px;
}

button {
  background-color: #ff6700;
  border: none;
  padding: 0.8rem 1.2rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #ff8533;
} */